# ASP.NET Core
# Build and test ASP.NET Core web applications targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/dotnet-core

name: 'graphql'

pool:
  vmImage: 'vs2017-win2016'

variables:
  buildConfiguration: 'Release'
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

steps:
- task: DotNetCoreInstaller@0
  displayName: Install SDK
  inputs:
    version: '2.1.402' # replace this value with the version that you need for your project

- task: DotNetCoreCLI@2
  displayName: Install cake.tool
  inputs:
    command: 'custom' # Options: build, push, pack, publish, restore, run, test, custom
    custom: 'tool'
    arguments: 'install --tool-path dotnet-tools Cake.Tool'

- task: CmdLine@1
  displayName: Build.cake
  inputs:
    filename: 'dotnet-tools\dotnet-cake.exe'
    arguments: 'build.cake -artifactsDir=$(Build.ArtifactStagingDirectory)\nugets -configuration=$(buildConfiguration)'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: VSTest
    searchFolder: '$(Build.ArtifactStagingDirectory)\nugets'
    testResultsFiles: '**/*.trx' 
    mergeTestResults: false

# Publish Build Artifacts
- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)\nugets' 
    artifactName: 'artifacts' 
    #publishLocation: 'Container' # Options: container, filePath
    #targetPath: # Required when publishLocation == FilePath
    #parallel: false # Optional
    #parallelCount: # Optional

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: 'src\graphql.server-apollo-link' 
    artifactName: 'apollo-link' 
